.navbar{
  position: fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:black;
  color:white;
  z-index:1000;
}

.navbar nav a{
  color:white;
  text-decoration:none;
  margin-left:30px;
  font-weight:500;
}

.logo{
  font-size:24px;
  font-weight:bold;
}