<section id="specs" class="specs">

  <h2> Especificaciones</h2>

  <div class="specs-container">

    <!-- Imagen de la moto -->

    <!-- Tarjetas de especificaciones -->
    <div class="spec-grid">

      <div class="card">
        
        <h3>Motor</h3>
        <p>998cc DOHC</p>
      </div>

      <div class="card">
        
        <h3>Potencia</h3>
        <p>150 HP</p>
      </div>

      <div class="card">
        <h3>Velocidad Máxima</h3>
        <p>280 km/h</p>
      </div>

      <div class="card">
        <h3>Peso</h3>
        <p>214 kg</p>
      </div>
          <div class="specs-image">
      <img src="img/fz1-side.webp" alt="Yamaha FZ1 vista lateral">
    </div>


    </div>

  </div>

</section>